/********************************************************************/
/********************************************************************/
/******************************* FONTS ******************************/
@font-face {
  font-family: 'DINCondensed-Bold';
  src: url('../fonts/DDINCondensedBold.eot');
  src: url('../fonts/DDINCondensedBold.eot') format('embedded-opentype'),
       url('../fonts/DDINCondensedBold.woff2') format('woff2'),
       url('../fonts/DDINCondensedBold.woff') format('woff'),
       url('../fonts/DDINCondensedBold.ttf') format('truetype'),
       url('../fonts/DDINCondensedBold.svg#DDINCondensedBold') format('svg');
}

@font-face {
  font-family: 'DINBlack';
  src: url('../fonts/DINBlack.eot');
  src: url('../fonts/DINBlack.eot') format('embedded-opentype'),
       url('../fonts/DINBlack.woff2') format('woff2'),
       url('../fonts/DINBlack.woff') format('woff'),
       url('../fonts/DINBlack.ttf') format('truetype'),
       url('../fonts/DINBlack.svg#DINBlack') format('svg');
}

@font-face {
  font-family: 'DINRegular';
  src: url('../fonts/DINMedium.eot');
  src: url('../fonts/DINMedium.eot') format('embedded-opentype'),
       url('../fonts/DINMedium.woff2') format('woff2'),
       url('../fonts/DINMedium.woff') format('woff'),
       url('../fonts/DINMedium.ttf') format('truetype'),
       url('../fonts/DINMedium.svg#DINMedium') format('svg');
}

@font-face {
  font-family: 'AcuminVariableConcept';
  src: url('../fonts/AcuminVariableConcept.otf');
}
@font-face {
  font-family: 'DINBold';
  src: url('../fonts/DIN_Bold.TTF') format('truetype');
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/Oswald.ttf') format('truetype');
}

@font-face {
    font-family: 'Font-default';
    src: url('../fonts/HelveticaBold.ttf');
}

/*** FONT-Desc : FOR EVENT DESCRIPTION ***/
@font-face {
    font-family: 'Font-Title';
    src: url('../fonts/CenturyOldStyleStd-Italic.otf');
}

@font-face {
    font-family: 'eurostile';
    src: url('../fonts/eurostile.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLight.eot') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraLight.woff') format('woff'),
        url('../fonts/Poppins-ExtraLight.ttf') format('truetype'),
        url('../fonts/Poppins-ExtraLight.svg') format('svg');
}
/********************************************************************/
/********************************************************************/
/********************************************************************/
*{margin:0;padding: 0;font-family: 'DINCondensed-Bold', 'Oswald-Bold',  'AcuminVariableConcept', sans-serif;}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  display: none;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-touch-callout: none; 
  user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: #F9F3E3 !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*****************************************************************/
#update-banner {
  color: #FFFFFF;
  background: #2A263C;
  position: absolute;
  width: 100%;
  top: 15px;
  border: 1px solid #00000090;
}

#update-banner .content {
  margin: 0 auto;
  max-width: 980px;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#update-banner .headline {
  font-weight: 800;
  font-size: 4.5vw;
  user-select: none;
  position: relative;
  left: 10vw;
}

#update-banner .subhead {
  font-size: 1em;
}

#update-banner1111[data-state="updateavailable"] {
  cursor: pointer;
  background: green;
  position: fixed;
  width: 100%;
  left: 0%;
  top: 15px;
  border-radius: 5px;
  z-index: 1060 !important;
}
/*****************************************************************/
/*****************************************************************/
.pulse {
  animation: pulse 1s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}
/*****************************************************************/
.versionText {
  position: absolute; 
  width: 80%; 
  color: white; 
  top: 1em; 
  text-align: right; 
  font-size: 2vh;
}
/*****************************************************************/
@media only screen 
  and (min-device-width: 912px) 
  and (min-device-height: 1368px)
  {
  body {
    background-color: #000000 !important;
  }
  #uiSnippetContainer, #content {
    width: 100% !important;
    height: 100% !important;
    background-color: #000000 !important;
    left: 0% !important;
  }
  #stepsSnippetContainer {
    width: 100% !important;
    height: 100% !important;
    background-color: #000000 !important;
  }
  #bottomButtonLayer {
    height: 21vh;
  }
}
/*****************************************************************/
  @media only screen 
  and (min-device-width: 1024px) 
  and (min-device-height: 1366px)
  {
  body {
    background-color: #000000 !important;
  }
  #uiSnippetContainer, #content {
    width: var(--screen-width) !important;
    height: 100% !important;
    background-color: #000000 !important;
    left: var(--screen-left) !important;
  }
  #stepsSnippetContainer {
    width: 100% !important;
    height: 100% !important;
    background-color: #000000 !important;
  }
  #bottomButtonLayer {
    height: 21vh;
  }
}
/*****************************************************************/
@media only screen 
  and (min-device-width: 768px) 
  and (min-device-height: 1024px)
  {
  body {
    background-color: #000000 !important;
  }
  #uiSnippetContainer, #content {
    width: var(--screen-width) !important;
    height: 100% !important;
    background-color: #000000 !important;
    left: var(--screen-left) !important;
  }
  #stepsSnippetContainer {
    width: 100% !important;
    height: 100% !important;
    background-color: #000000 !important;
  }
  #bottomButtonLayer {
    height: 21vh;
  }
}
/*****************************************************************/
@media only screen 
  and (min-device-width: 712px) 
  and (min-device-height: 1138px)
  {
  body {
    background-color: #000000 !important;
  }
  #uiSnippetContainer, #content {
    width: 80% !important;
    height: 100% !important;
    background-color: #000000 !important;
    left: 10% !important;
  }
  #stepsSnippetContainer {
    width: 100% !important;
    height: 100% !important;
    background-color: #000000 !important;
  }
  .loadingScreen {
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 
    99999; 
    width: 70% !important; 
    display: flex; 
    justify-content: space-evenly; 
    height: 100vh;
  }
}
/*****************************************************************/
@media only screen 
  and (min-device-width: 820px) 
  and (min-device-height: 1180px)
  {
  body {
    background-color: #000000 !important;
  }
  #uiSnippetContainer, #content {
    width: var(--screen-width) !important;
    height: 100% !important;
    background-color: #000000 !important;
    left: var(--screen-left) !important;
  }
  #stepsSnippetContainer {
    width: 100% !important;
    height: 100% !important;
    background-color: #000000 !important;
  }
  #bottomButtonLayer {
    height: 21vh;
  }
}
/*****************************************************************/
:root {
  --screen-width: 100%;
  --screen-width-max: 100%;
  --screen-width-min: 100%;
  --screen-left: 0%;
}
@media only screen 
    and (min-device-width: 853px) 
    and (min-device-height: 1280px)
    {
    body {
      background-color: #000000 !important;
    }
    #uiSnippetContainer, #content {
      width: var(--screen-width) !important;
      height: 100% !important;
      background-color: #000000 !important;
      left: var(--screen-left) !important;
    }
  }
.fromFloristry {
  width: 100% !important;
  height: 100% !important;
  background-color: #000000 !important;
  left: 0% !important;
}
/*****************************************************************/
@media only screen 
  and (min-device-width: 540px) 
  and (min-device-height: 720px)
  {
  body {
    background-color: #000000 !important;
  }
  #uiSnippetContainer, #content {
    width: 100%;
    height: 100% !important;
    background-color: #000000 !important;
    left: 0%;
  }
  #bottomButtonLayer {
    height: 21vh;
  }
  #stepsSnippetContainer {
    width: 100% !important;
    height: 100% !important;
    background-color: #000000 !important;
  }
}
/*****************************************************************/
.spinner-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  top: 0vh;
  position: absolute;
}

.circle-border {
  width: 6vh;
  height: 6vh;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(249, 243, 227);
  background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgb(232, 177, 31) 100%);
  animation: spin 1s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #F9F3E3;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}
/*****************************************************************/
@media screen and (orientation: landscape) {
  body {
    background-color: #000000 !important;
  }
  #content {
    /* width: 34% !important;
    left: 33% !important; */
    width: var(--screen-width) !important;
    max-width: var(--screen-width-max) !important;
    min-width: var(--screen-width-min) !important;
    left: var(--screen-left) !important;
  }
  #stepsSnippetContainer {
    width: 108% !important;
    height: 100% !important;
    background-color: #000000 !important;
  }
}
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/***********************MENU SECTION CSS *************************/
.pulse {
  animation: pulse 1s ease-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}
/*****************************************************************/
input[type=text]:focus {
  outline:none;background: white;
  border: none;
  border-radius: 0;
  margin-bottom: 15px;
  box-shadow: none !important;
  height: 45px;
  color: #000;
}

a {
  color: #F7AE50 !important;
}

span a {
  position: relative;
  word-wrap: break-word;
}

ul {
  color: white;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 2.5vh;
  line-height: 1.2;
  left: 1vh;
  position: relative;
}

.specialIcons {
  position: relative;
  width: auto;
  height: 4vh;
}

.specialIconsFaqs {
  position: relative;
  width: auto;
  height: 4vh;
  z-index: -1;
}


#viewIconText p {
  font-size: 3vh !important;
}

.pulse-button {
  position: relative;
  border: none;
  border-radius: 50%;
  animation: pulse-animation 1.5s;
  animation-play-state: running;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0.001);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
}

.touch-pulse-button {
  position: relative;
  border: none;
  border-radius: 50%;
  animation: touch-pulse-animation 1.5s infinite;
  animation-play-state: running;
}

@keyframes touch-pulse-animation {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0px rgba(233, 168, 111, 0.5);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(233, 168, 111, 0.001);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 15px rgba(233, 168, 111, 0);
  }
}

.animated-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 50%;
}

.img1 {
  /* Image 1 fades in and out */
  animation: fadeIn 5s infinite alternate ease-in-out,touch-pulse-animation 1.5s infinite;
}

.img2 {
  /* Image 2 fades in and out with a delay so they alternate */
  animation: fadeIn 5s infinite alternate ease-in-out;
  animation-delay: 2.5s; /* Start the second image's animation halfway through the first */
}

/* Keyframe definition for the fade-in effect */
@keyframes fadeIn {
    0% {
        opacity: 0; /* Start at 0% alpha */
    }
    50% {
        opacity: 1; /* Reached at 100% alpha */
    }
    100% {
        opacity: 0; /* End at 0% alpha */
    }
}
/***********************BGG SCREEN STYLING*************************/
.game-title { 
  font-size: 48px; 
  letter-spacing: -1px; 
  margin:0;
  max-width: 13em;
}

.game-designer { 
  font-size: 28px; 
  letter-spacing: -1px;
}

.img-box {
  border:4px solid #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.30);
}

.card-body {
  background-color: rgb(45, 44, 43) !important;
  padding: 1rem 0rem !important;
}

.boardgamemechanic div { 
  color:#949598; 
  padding: 0rem 1rem !important; 
  padding-bottom: 0.5vh;
  padding-top: 0.5vh;
}

.card { 
  border:none; 
  background:#fff;
}

.card .ak_card_header { 
  border:none; 
  background:#fff;
}

.ak_card_timer{
  position: absolute;
  background-color: transparent;
  width: 10px;
  height: 10px;
  margin-left: -45px;
  margin-top: -70px;
}

.metaGroup { 
  display: flex; 
  gap:10px; 
  justify-content: flex-end; 
  align-items: center;
}

.metaGroup_details_filter { 
  display: flex; 
  gap:10px; 
  justify-content: flex-END; 
  align-items: center; 
  /* width: 250px !important;  */
  width: 100% !important; 
  position: relative; 
  right: 50px; 
  left: 0px; 
  color: #FFFFFF; 
  font-size: 2vh; 
  margin-top: 3vh !important;
}

.metaGroup_details { 
  display: flex; 
  gap:10px; 
  justify-content: flex-end; 
  align-items: center; 
  width: 250px !important; 
  position: relative; 
  right: 0px;
}

.metaGroup span, .metaGroup_details span { 
  display: flex; 
  align-items: center;
}

.metaGroupOut { 
  display: flex; 
  gap:10px; 
  justify-content: flex-start; 
  align-items: center;
}

.metaGroupOut span, .metaGroup_details span { 
  display: flex; 
  align-items: center;
}

.bg-primary { 
  background-color:#3874b5 !important;
}

.bg-light {
  background-color: rgb(45, 44, 43) !important;
}

.bg-alto { 
  background-color: #939598; 
  color: #FFFFFF;
}

.page_greek div { 
  font-family: 'DINCondensed-Bold'; 
  line-height: 1.2;
}

.font-dinblack { 
  font-family: 'DINBlack';
}

.font-DINCondensed-bgg { 
  font-family: 'DINCondensed-Bold';
}

.font-DINRegular { 
  font-family: 'DINRegular';
}

.text-large {
  font-size:3vh; 
  letter-spacing: -0.5px; 
  line-height: 1.1;
}

.text-desc {
  margin-top: -2vh;
}

.text-left {
  font-size: 2vh !important;
}

.text-md-right {
  margin-top: 1.5vh;
}

.my-4 {
  margin-top: 4vh !important;
}

.sup-small { 
  font-size:3vh; 
  top: 0; 
  color:#FFFFFF; 
  letter-spacing: 0;
}

.bggTitle {
  color: #FFFFFF;
  font-size: 2vh;
  line-height: 0;
}

.ratingWrapper { 
  width: auto;  
  display: inline-block; 
  position: relative; 
  color: #e7e7e9; 
  z-index:1; 
  margin-left:auto;
}

.ratingStar { 
  overflow: hidden; 
  white-space: nowrap; 
  user-select: none; 
  height: 3vh;
}

.ratingStar span {
  font-size: 3vh;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #fcb040;
  letter-spacing: -4px;
}

.ratingStar p {
  font-size: 26px;
  margin-top: 8px;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #fcb040;
  letter-spacing: 0px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -1);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

@media (min-width: 768px) {
    .col-md-8 {
        flex: 0 0 auto;
        width: 100%;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 100%;
    }
    .col-lg-9 {
        flex: 0 0 auto;
        width: 100%;
    }
}
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/********************* STEPS SECTION CSS *************************/
@media only screen and (orientation: portrait) {
  #bottomButtonLayer {
    height: 15vh;
    pointer-events: auto !important;
  }
  #ExitButtonPanel {
    height: 15vh !important;
    pointer-events: auto !important;
  }
}

@media only screen and (orientation: landscape) {
  #bottomButtonLayer {
    height: 15vh;
    pointer-events: auto !important;
  }
  #ExitButtonPanel {
    height: 15vh !important;
    pointer-events: auto !important;
  }
}

@media all and (device-width: 414px) and (device-height: 736px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}

@media all and (device-width: 375px) and (device-height: 667px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}

@media all and (device-width: 320px) and (device-height: 568px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}

@media all and (device-width: 344px) and (device-height: 882px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}

@media all and (device-width: 414px) and (device-height: 896px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}

@media all and (device-width: 412px) and (device-height: 914px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}


@media all and (device-width: 390px) and (device-height: 844px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}

@media all and (device-width: 375px) and (device-height: 812px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}

@media all and (device-width: 912px) and (device-height: 1368px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}

@media all and (device-width: 853px) and (device-height: 1280px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}

@media all and (device-width: 1024px) and (device-height: 600px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}

@media all and (device-width: 360px) and (device-height: 640px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}
@media all and (device-width: 320px) and (device-height: 480px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}

@media all and (device-width: 430px) and (device-height: 932px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}

@media all and (device-width: 800px) and (device-height: 1280px) {
  #bottomButtonLayer {
    height: 21vh;
  }
}

#bottomButtonLayer {
  height: 21vh;
}

.spinner-box-steps {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: transparent;
  top: 0vh;
  position: absolute;
}

.pulse-button-steps {
  position: relative;
  border: none;
  border-radius: 50%;
  animation: pulse-animation-steps 1.5s infinite;
  animation-play-state: running;
}

@keyframes pulse-animation-steps {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.001);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

.base-timer-close {
  position: absolute;
  width: 12vh;
  height: 12vh;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
  opacity: 0;
}

.base-timer__svg {
  transform: scaleX(1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: #29ABE2;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.arc {
  color: #fbb03b;
}

.base-timer__label {
  position: absolute;
  width: 16vh;
  height: 16vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/******************** PUSH SECTION CSS  **************************/
.page_greek div { 
    font-family: 'Font-App'; 
    line-height: 1.2;
    text-transform: capitalize;
    z-index: 999999;
} 

.page_greek div h4 { 
    font-family: 'Font-default'; 
    line-height: 1.2;
} 

.font-dinblack { 
    font-family: 'DINBlack';
}

.font-DINCondensed { 
    font-family: 'Font-App';
}

.font-DINRegular { 
    font-family: 'Font-Desc';
}

@media screen and (orientation : portrait) {
  #spinningLoader {
      top: 32vh !important;
  }
  #update-banner .headline {
      font-size: 1.2em !important;
      user-select: none;
      line-height: 1.2;
      position: relative;
      left: 15% !important;
      top: 0.2em;
    }
  #update-banner .subhead {
      font-size: 1em !important;
  }
  #update-banner[data-state="updateavailable"] {
      background: #404040; 
      position: fixed;
      width: 100%;
      left: 0%; 
      top: 5px;
      border-radius: 5px;
      z-index: 9999 !important;
  }
}

@media screen and (orientation : landscape) {
  #sheetIdForm {
      height: 38vh !important;
  }
  #spinningLoader {
      top: 34vh !important;
  }
  #update-banner .headline {
      font-size: 1.2em !important;
      font-family: Font-default;
      user-select: none;
      line-height: 1.2;
      position: relative;
      left: 15% !important;
      top: 0.2em;
    }
  #update-banner .subhead {
      font-size: 1.2em !important;
  }
  #update-banner[data-state="updateavailable"] {
      background: #404040;
      position: fixed;
      width: 100%;
      left: 0%;
      top: 5px;
      border-radius: 5px;
      z-index: 9999 !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 340px) and (min-height: 495px) and (max-height: 570px){
    #sheetIdForm {
        top: 0vh !important;
    }
}

@media only screen and (min-width: 1920px){
  #sheetIdForm {
      height: 55vh !important;
  }
  #spinningLoader {
      top: 34vh !important;
  }
}

h1,.h1{font-size:43px;}
h2,.h2{font-size:30px;}
h3,.h3{font-size:18px;}
h4,.h4{ font-size:14px;}
h5,.h5{ font-size:14px;}
h6,.h6{ font-size:13px;}

.min-vh-100 {
    min-height: 100vh!important;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.game_header {
	background-color:#7353a3;
	background-image:url('../img/bg_header.jpg');
	background-repeat:no-repeat;
	background-position:bottom left;
	background-size:100% 100px;
	padding-bottom:100px;
    position: relative;
    z-index: 9999;
}

.header_title {
	font-weight:100 !important;
	color:#fff;
}

.game_footer{
	background-color:#7353a3;
	background-image:url('../img/bg_footer.jpg');
	background-repeat:no-repeat;
	background-position:top left;
	background-size:100% 100px;
	padding-top:95px; 
}

.form-control{
    background:#b9a7d1;
    border:none;
    border-radius:0;
    margin-bottom:15px;
    box-shadow:none !important;
    height:45px;
    color:#000;
}

.btn_submit{
	border:none; background:transparent; outline:none !important;
}

@media screen and (max-width:767px){
  h1,.h1 {
      font-size:32px;
  }
  h2,.h2 {
      font-size:28px;
  }
  h3,.h3 {
      font-size:18px;
  }
  h4,.h4 { 
      font-size:16px;
  }
  h5,.h5 { 
      font-size:16px;
  }
  h6,.h6 { 
      font-size:16px;
  }
  .game_header { 
      background-size:100% 50px; 
      padding-bottom:50px; 
  }
  .game_footer {
      background-size:100% 50px; 
      padding-top:50px; 
  }
  .h2.header_title { 
      font-size:20px; 
      font-weight: 100;
  }
}

.mainContainer {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  font-size: 5vh;
}

.loader-spinner-text {
  position: absolute;
  width: 100%;
  height: 50vh;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #3874b5 !important;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  margin: auto;
  top:50%; 
  left:0
}

.versionContiner {
  position: absolute; 
  top: 0.5em; 
  right: 1em; 
  color: #FFFFFF90; 
  font-family: Font-Default;
  font-size: 1.6vh;
}

.copyright {
  position: relative; 
  height: 1em;
}

#spinningLoader {
    width: 100%;
    overflow: hidden;
}

#loadingTxt {
  position: relative;
  margin-top: 2vh;
  height: 51vh;
  overflow: scroll;
  text-transform: none;
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
.spinner {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 37%;
  top: -2%;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}

.iframe .img {
  position: relative;
  left: 50%; 
  top: 50%; 
  height: 100vh; 
  width: 100vw; 
  transform: translateY(-50%) translateX(-50%); 
  z-index: 0; 
  object-fit: cover;
}

.splashSlide {
  display: none; /* Hide all slides by default */
  animation: fade 1s ease-in-out; /* Fade duration */
}

/* Optional: Add fade animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}